body {
    background-image: linear-gradient(lightgreen, lightblue);
}

#logout {
    margin-left: 1250px;
    margin-top: 30px;
}

#username {
    color: powderblue;
    margin-left: 100px;
    box-shadow: 10px 10px black;
}

#roomname {
    width: 600px;
    
}

img {
    width: 200px;
    border-radius: 50%;
}
