body {
    background-image: url("chatbackground.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
}

h1 {
    font-family: monospace;
}

#user_name {
    width: 300px;
}

#login_button {
    width: 150px;
}

#container {
    background: rgba(51, 8, 240, 0.425);
    padding: 20px;
    float: none;
    border-radius: 15px;
    width: fit-content;
    border-top: 10px solid #AA4465;
    border-bottom: 10px solid #AA4465;
}

img {
    width: 200px;
    border-radius: 50%;
}

h5 {
    color: gold;
}