body {
    background-color: aliceblue;
}
#roomsLabel {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;

}
#rooms {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aquamarine;
    width: 75%;
    height: 100px;
    border-radius: 15%;
    padding: 15px;
}
#username {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
#output { padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px; }

.input_div_room_page
{
width: 80%;
}

.input_div label
{
color: white;font-size: 20px;
}


.input_div_message_page
{
position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
color: black;
}
.input_div_message_page #msg
{
width: 80%;
}
.input_div_message_page button
{
margin-top: 15px;
width: 50%;
}
.color_white
{
color: white
}

.user_tick
{
width:20px;
}
.message_h4
{
padding-left:5px;color:grey;
}
img {
    width: 200px;
    border-radius: 50%;
}